<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/rounded-favicon_32.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Space Cycle</title>
</head>
<!-- body 시작 -->
<body>
    <!-- 헤더 공간 -->
    <header id="header">
        <div class="logo">
            <p>SPACE CYCLE</p>
        </div>
        <div>
            <a href="/login" id="link-non-color" class="btn">LOGIN</a>
        </div>
    </header>
    <!-- 메인 공간 -->
    <main>
        <div id="main">
            <h1>SPACE CYCLE</h1>
            <p>잠든 공간의 재발견</p>
        </div>
    </main>
    <!-- 내비게이션 바 공간 -->
    <nav class="bottom-nav">
        <a href="" id="link-non-color">Home</a>
        <a href="" id="link-non-color">User</a>
    </nav>
</body>
<!-- body 끝 -->
</html>